.container {
  display: flex;
  justify-content: space-around;
  height: 8vh;
  align-items: center;
  background-color: #f7f7f7;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  list-style: none;
}

.container a {
  text-decoration: none;
  color: #036ee0;
  font-weight: 600;
}

.container a:hover {
  color: #68a9ee;
}

.container a:active {
  color: red;
}
