@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.Home {
  overflow: hidden;
}

.Home .content-area {
  display: flex;
  justify-content: space-around;
  margin-top: 7%;
}

.Home .content-area-text {
  display: flex;
  justify-content: center;
  font-size: 1.15rem;
}

.content-area-text h2 {
  width: 15%;
  text-align: right;
  margin: 0 1.5%;
}

.content-area-text p {
  width: 25%;
}
